.team-details-banner-section{
    background-image: url("../../logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 400px;
    height: 400px;
    -webkit-filter: opacity(0.75);
    filter: opacity(0.75);
}
.team-details-banner-section img{
     padding-top: 100px;
    width: 300px;
    height: 300px;
}
/* .firstRow{
    background-color: aqua;
} */