.banner{
    background-image: url("../../logo.jpg");
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 500px;
    height: 500px;
}
.bannerTitle{
    padding-top: 220px;
}